<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<link rel="shortcut icon" href="../images/favicon.icon">
	<title>meet play share, 메가박스</title>
	<link rel="stylesheet" href="../css/megabox.min.css" media="all">






</head>
<body>

<div class="wrap" style="width: 850px; height: 484px; margin-left: -425px; margin-top: -242px;">
	<header class="layer-header">
		<h3 class="tit">로그인</h3>
	</header>


							<!-- col-wrap -->
							<div class="col-wrap">
								<div class="col left">
									<div class="login-input-area">
										<input autocomplete="off" id="ibxLoginId" maxlength="20" type="text" placeholder="아이디" title="아이디를 입력하세요" class="input-text strTrim">
										<input autocomplete="off" id="ibxLoginPwd" maxlength="20" type="password" placeholder="비밀번호" title="비밀번호를 입력하세요" class="input-text mt15">
										<div class="alert"></div>

										<!-- chk-util -->
										<div class="chk-util">
											<div class="left">
												<input id="chkIdSave" type="checkbox"> <label for="chkIdSave">아이디 저장<!--아이디 저장--></label>
											</div>

										</div>
										<!--// chk-util -->

										<button id="btnLogin" type="button" class="button purple large btn-login" disabled="disabled">로그인<!--로그인--></button>

						
									</div>
								</div>

								
							</div>
							<!--// col-wrap -->
					
		

			<button type="button" class="btn-modal-close">레이어 닫기<!--레이어 닫기--></button>
		</div>
		<div class="normalStyle" style="display:none;position:fixed;top:0;left:0;background:#000;opacity:0.7;text-indent:-9999px;width:100%;height:100%;z-index:100;">닫기</div>
		<div class="alertStyle" style="display:none;position:fixed;top:0px;left:0px;background:#000;opacity:0.7;width:100%;height:100%;z-index:5005;"></div>
		
		
		
<div id="main_section03" class="section main-curation">
				<!-- wrap -->
				<div class="wrap">
					<div class="tit-util">
						<h2 class="tit">큐레이션</h2>

						<div class="right">
							<a href="/curation/filmsociety" title="큐레이션 더보기">
								큐레이션 더보기 <i class="iconset ico-more-corss gray"></i>
							</a>
						</div>
					</div>

					<!-- curation-area -->
					<div class="curation-area">
						<!-- curr-img -->
								<div class="curr-img">
									<p class="bage classic">메가박스 클래식소사이어티</p>
										<div class="img">
										<a href="javascript:gfn_moveDetail('22041100');" title="영화상세 보기">
											<img src="https://img.megabox.co.kr/SharedImg/2022/07/14/1N8vnm63MaKUhBoFYLsW3Rm2hGkEcrFr_420.jpg" alt="[2022 잘츠부르크 페스티벌] 바렌보임&amp;랑랑 콘서트" onerror="noImg(this, 'main');">
											</a>
									</div>

									<div class="btn-group justify">
										<div class="left">
											<a href="javascript:gfn_moveDetail('22041100');" class="button" title="영화상세 보기">상세정보</a>
										</div>
										<div class="right">
											<a href="javascript:moveBokdPage('22041100');" class="button gblue" title="영화 예매하기">예매</a>
												</div>
									</div>

									<div class="info classic">
										<p class="txt">#<span>클래식소사이어티</span></p>
											<p class="tit">[2022 잘츠부르크 페스티벌] 바렌보임&amp;랑랑 콘서트</p>
										<p class="summary"></p>
									</div>
								</div>
								<!--// curr-img -->

								<!--// list-area -->
								<div class="list">
							 	<ul>
									<li>
										<a href="javascript:gfn_moveDetail('22038100');" title="영화상세 보기">
										<p class="bage classic">클래식소사이어티</p>
											<div class="img"><img src="https://img.megabox.co.kr/SharedImg/2022/07/04/fpItHJAg7IOzxtez042463Gk0rPRkIiQ_230.jpg" alt="[2022 클래식페스티벌] 브레겐츠 페스티벌 – 나비부인" onerror="noImg(this, 'main');"></div>

											<p class="tit">[2022 클래식페스티벌] 브레겐츠 페스티벌 – 나비부인</p>

											<p class="summary">
												스크린으로 만나는 지상 최대 클래식 페스티벌, 그 첫번째
											</p>
										</a>
									</li>
									<li>
										<a href="javascript:gfn_moveDetail('22035700');" title="영화상세 보기">
										<p class="bage classic">클래식소사이어티</p>
											<div class="img"><img src="https://img.megabox.co.kr/SharedImg/2022/06/21/atGgAYynEtbhEFYGr1rlHN1kNsVtt4Od_230.jpg" alt="[2022 시네도슨트] 오르세 미술관 " onerror="noImg(this, 'main');"></div>

											<p class="tit">[2022 시네도슨트] 오르세 미술관 </p>

											<p class="summary">
												스크린에서 만나는 세계의 미술관 
											</p>
										</a>
									</li>
									<li>
										<a href="javascript:gfn_moveDetail('22035600');" title="영화상세 보기">
										<p class="bage classic">클래식소사이어티</p>
											<div class="img"><img src="https://img.megabox.co.kr/SharedImg/2022/06/21/antH4SXCfejWo6FdMXRTUVp4ssxSINaj_230.jpg" alt="[2022 시네도슨트] 에르미타쥬 미술관" onerror="noImg(this, 'main');"></div>

											<p class="tit">[2022 시네도슨트] 에르미타쥬 미술관</p>

											<p class="summary">
												스크린에서 만나는 세계의 미술관 
											</p>
										</a>
									</li>
									<li>
										<a href="javascript:gfn_moveDetail('22033100');" title="영화상세 보기">
										<p class="bage film">필름소사이어티</p>
											<div class="img"><img src="https://img.megabox.co.kr/SharedImg/2022/06/27/t9AbCzKv1Syik1E15VKybp45tEwWr73a_230.jpg" alt="썸머 필름을 타고!" onerror="noImg(this, 'main');"></div>

											<p class="tit">썸머 필름을 타고!</p>

											<p class="summary">
												“이번 여름엔 너희들의 청춘을 내가 좀 쓸게”
											</p>
										</a>
									</li>
									</ul>

								</div>
								<!--// list-area -->

					</div>
					<!--// curation-area -->
				</div>
			</div>		
		
		
		
</body>		
</html>		